body {
  margin: 0;
}

h1 {
  margin: 0px;
  font-weight: bold;
}



.container {
  width:100%;
  margin-top: 60px;
  background-color: $color-background-article;
}

.posts-list {
  align-content: center;
  width:100%;
}
.title-link {
  color:black;
  text-decoration: none;
}


.author-photo {
  border-radius: 90px;
  height: 35px;
  width: 35px;
}

.author-link {
  text-decoration: none;
  color: $color-author-log;
  font-weight: bold;
}

.log-in-link {
  text-decoration: none;
  color: $color-author-log;
}

.post-info {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 10px;
  padding-bottom: 0px;
}

.row {
  display:inline-block;
  color:  $color-secondary;
}
.excerp-photo {
  margin:0;
}

.excerp-video {
  margin:0;
}

.excerp-title {
  margin:0;
  margin-left:15px;
}

.excerp-subtitle {
  margin:0;
  margin-left:15px;
  font-weight: normal;
  color:  $color-secondary;
}

.excerp-link {
  text-decoration: none;
  color: black;
}

.excerp-content {
  margin:15px;
}

.name-and-date {
  margin-left: 10px;
}

.comments-link {
  text-decoration: none;
  color:  $color-secondary;
}

.read-more-link {
  text-decoration: none;
  color:  $color-secondary;
}

.likes-and-comments {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin: 0px;
  margin-left:15px;
}

.read-more {
  margin-bottom: 10px;
  margin-left:15px;
}

.comments {
  float:right;
  margin-right:20px;
}